body {
  background: linear-gradient(135deg, #141e30, #243b55);
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  width: 350px;
  margin: 80px auto;
  text-align: center;
}

select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
}

button {
  cursor: pointer;
  background: #00c6ff;
  border: none;
  color: black;
  font-weight: bold;
}

.card {
  background: rgba(0,0,0,0.5);
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
}

.hidden {
  display: none;
}
